.env
Dockerfile
docker-compose.yml
*.pyc
*.bak
*.sql
*.tar
src/books
src/factories
src/logs/*
src/media/*
src/tmp/*
src/private_media/*
src/config/settings/local_settings.py
src/*/migrations/*
.vscode/launch.json
.vscode/settings.json
